body {
  font-family: "Verdana";
  font-size: 16px;
  width: 1000px;
  margin: auto;
  background: #dee1e5;
  background: url(http://img.funtema.ru/07082015/japangifs/5.gif);
}
#text3, .text2, .text1 {
  background: #eff2f4;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
input[type=radio] {
  vertical-align: top;
}
